@font-face {
  font-family: 'Glass TTY VT200';
  src: url(/Glass_TTY_VT220.ttf) format('truetype');
}

body {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    background: #1c1c1c;
    color: #b2b2b2;
    font-size: 20px;
    line-height: 1.4;
}

a {
    color: #7070dd;
    text-decoration: none;
}

pre {
    font-family: "Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace,serif;
}

h1 {
    margin-top: 0.5em;
    font-size: 40px;
    text-align: center;
}

ul {
    list-style-type: '-';
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.v_header {
    font-size: 24px;
}

li {
    margin-top: 0.5em;
    padding-left: 0.5em;
}

pre {
    border: 1px solid red;
    margin: 0.5em;
    padding: 0.5em;
}

#security {
    margin-left: 2em;
    margin-right: 2em;
    background: #311;
    padding: 0.5em;
}

#security pre {
    background: #200;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #ddd;
}

h2#loc {
    padding-left: 20px;
}

#security h2 {
    color: #ff0;
}

#secDiff > li:nth-child(odd) {
    background: #411;
}

#diffList ul > li:nth-child(odd) {
    background: #252525;
}

#upIndex {
    float: right;
    background: #1c1c1c;
    border: 1px solid #55a;
    padding: 0.5em;
    margin-left: 0.5em;
}
#upIndex p {
    text-align: center;
    font-size: 24px;
}

#logo {
    text-align: center;
    font-size: 50px;
    color: #cfc;
    text-shadow:#383 4px 4px 8px;
    margin: 1em;
    font-family: 'Glass TTY VT200', monospace;
    /* font-weight: bold; */
    font-weight: normal;
}

form {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
}

form select,
form input,
form button {
    font-size: inherit;
    background: #252525;
    color: #b2b2b2;
    padding: 0.3em;
    border: 1px solid #c2c2c2;
}

hr {
    height: 3px;
    color: #8f8;
    background: #2c2;
}

p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.hljs {
    background: inherit;
}

#links {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background: #333;
    padding: 0.2em 0.5em;
}

#links a {
    color: #888;
    text-decoration: none;
}

#links li {
    margin: 0;
    padding: 0.2em;
}

#links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#metainfo {
    padding: 1em;
}
#metainfo h1 {
    text-align: left;
    padding-left: 1em;
    padding-bottom: 0.5em;
}
#metainfo .version {
    font-weight: bold;
}
#metainfo .version,
#metainfo .release,
#metainfo .count {
    font-size: 22px;
}

#metainfo h2 {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
}
#majorinfo {
    margin-left: 1em;
}
#majorinfo,
#majorinfo th,
#majorinfo td {
    padding: 0.2em .5em;
    border: 1px solid #505050;
    text-align: center;
}
#majorinfo th {
    font-size: 26px;
    font-weight: bold;
    padding: 0.4em 1em;
    background: #2c2c2c;
    color: #c2c2c2;
}
#majorinfo tbody > tr:nth-child(even) {
    background: #242424;
}
.searchhilight {
    font-size: 22px;
    font-weight: bold;
    background: #336633;
    color: #cccc44;
    padding: 0.1em 0.3em;
}

.tooltipbox {
    display:none;
    position:absolute;
    border:1px solid #080;
    background-color:#020;
    color:#cfc;
    font-size: 16px;
    opacity: 0.9;
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.3em;
}

.tooltipbox li {
    margin: 0;
    padding: 0;
    padding-left: 0.2em;
}
.tooltipbox ul {
    margin: 0;
    padding: 0;
    padding-left: 1em;
}
#error {
    color: #fc0;
    border: 1px solid #f40;
    margin: 1em 3em 0em 3em;
    padding: 1em;
    background: #400;
}
#error h1 {
    padding: 0;
    margin: 0;
}
#error span {
    color: #ff0;
}

h3 {
    margin-left: 2em;
    font-weight: bold;
}
#config_changes {
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.5em;
}

#config_changes table {
    border: 1px solid #555;
    margin-left: 4em;
}
#config_changes th,
#config_changes td {
    padding: 0 1em;
}
#config_changes td {
    border-top: 1px dotted #555;
}
#config_changes th:not(:first-child),
#config_changes td:not(:first-child) {
    border-left: 1px dotted #555;
}
#config_changes table thead {
    background: #333;
}
#config_changes .guc-value {
    background: #282828;
    font-family: "Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace,serif;
}
